<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group">

<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
  <!-- wp:pattern {"slug":"nutrition-coach/hero"} /-->
  <!-- wp:pattern {"slug":"nutrition-coach/features"} /-->
  <!-- wp:pattern {"slug":"nutrition-coach/programs"} /-->
  <!-- wp:pattern {"slug":"nutrition-coach/how-it-works"} /-->
  <!-- wp:pattern {"slug":"nutrition-coach/coaches"} /-->
  <!-- wp:pattern {"slug":"nutrition-coach/testimonials"} /-->
  <!-- wp:pattern {"slug":"nutrition-coach/pricing"} /-->
  <!-- wp:pattern {"slug":"nutrition-coach/faq"} /-->
  <!-- wp:pattern {"slug":"nutrition-coach/new-section"} /-->
  <!-- wp:pattern {"slug":"nutrition-coach/cta"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /--></div>
<!-- /wp:group -->
